*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
  background-color: #513488;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  font-family: "Poppins", sans-serif;
}

.navbar-logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  color: #d1d1d1;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links li:hover {
  color: #ffffff;
}

.navbar-links .active {
  color: #ffffff;
}

.navbar-links .active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #f1c40f; 
  margin: auto;
  width: 22px;
  border-radius: 2px;
  
}

.navbar-icons {
  display: flex;
  align-items: center;
    gap:20px;
   
  
}

.icon {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}
.cart-widget {
  position: relative;
  cursor: pointer;
  font-size: 30px; /* igual al user */
 
   
  
  
  
}

.cart-widget .cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #4ff10f;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
 
}
